obslight/MANIFEST
obslight/dist
obslight/dist/*
obslight/ObsLight/emptySpec/_buildconfig-*
obslight/ObsLight/emptySpec/_buildinfo-*.xml
obslight-fakeobs/dist
*.pyc
.directory
.settings
.settings/*
.project
.pydevproject
.kate-swp
*~
*.tag
test/veewee/*.box
