*.pyc
obslight/dist
obslight/dist/*
fakeobs/dist
.directory
.settings
.settings/*
obslight/MANIFEST
.project
.pydevproject
.kate-swp
*~
*.tag
obslight/ObsLight/emptySpec/_buildconfig-*
obslight/ObsLight/emptySpec/_buildinfo-*.xml
test/veewee/*.box
