*.pyc
src/dist
src/dist/*
fakeobs/dist
.directory
.settings
.settings/*
src/MANIFEST
.project
.pydevproject
.kate-swp
*~
*.tag
_buildconfig-MeeGo_1.2_OSS-i586
_buildinfo-MeeGo_1.2_OSS-i586.xml
_buildconfig-DOD_MeeGo_1.2-i586
_buildconfig-MeeGoTV_1.2-i586
_buildconfig-meegotv_oss_DOD_MeeGo_1.2-i586
_buildconfig-openSUSE_12.1-i586
_buildconfig-standard-i586
_buildinfo-DOD_MeeGo_1.2-i586.xml
_buildinfo-MeeGoTV_1.2-i586.xml
_buildinfo-meegotv_oss_DOD_MeeGo_1.2-i586.xml
_buildinfo-openSUSE_12.1-i586.xml
_buildinfo-standard-i586.xml
_buildconfig-fake.standard-i586
_buildinfo-fake.standard-i586.xml
